<app-toolbar></app-toolbar>
<mat-card id="header">
    <mat-card-header id="title">
      <h1 id="title-text">Tools</h1>
    </mat-card-header>
</mat-card>
<div class="tool-buttons">
    <button mat-raised-button (click)="goToCircleEquation()">Circle Equation</button>
    <!-- <button mat-raised-button (click)="goToLinerSystemTool()">Linear Systems</button> -->
    <button mat-raised-button (click)="goToPTableTools()">Periodic Table</button>
    <button mat-raised-button (click)="goToParabolaTool()">Parabola Tool</button>
    <button mat-raised-button >Place Holder</button>
</div>
  
