

.tool-buttons button {

    cursor: pointer;
    text-align: center;
  
    width: 300px;
    height: 150px;
    line-height: 100px;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
 
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 8px;
    padding: 30px 60px;
    font-size: 25px;
}

.title {
    text-align: center;
}



