#title {
    padding: 10px;
    justify-content: center;
    align-content: center;
}
  
#header {
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.target {
    justify-self: center;
    align-self: center;
    transition: 200ms;
    flex: 1 0 21%;
    margin: auto;
    margin: 2%;
}

.target:hover {
    transform: scale(1.03);
    transition: transform 200ms;
}

.adventure-buttons {
    align-items: center;
    justify-items: center;
    align-self: end;
    width: auto;
    height: auto;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
}

.adventure-buttons a {
    margin: auto;
    align-self: center;
}

.adventure-buttons button {
    align-self: center;
    justify-self: center;

    cursor: pointer;
    text-align: center;
  
    width: 80%;
    height: 150px;
    line-height: 100px;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
 
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 8px;
    padding: 30px 60px;
    font-size: 25px;
}