<app-toolbar></app-toolbar>
<mat-card id="header">
    <mat-card-header id="title">
        <h1 id="title-text">Adventures</h1>
    </mat-card-header>
</mat-card>
<div class="adventure-buttons">
    <a class="target" href="https://devpost.com/software/growify" rel="noopener" target="_blank">
        <button mat-raised-button>Jam Hacks Win</button>
    </a>
    <a class="target" href="https://devpost.com/software/corex" rel="noopener" target="_blank">
        <button mat-raised-button>Peddie Hacks Win</button>
    </a>
    <a class="target" href="https://share.streamlit.io/real-veersandhu/scifaa-covid-19-project/App/app.py" rel="noopener" target="_blank">
        <button mat-raised-button>COVID-19 Data Project</button>
    </a>
    <a class="target" href="https://www.youtube.com/watch?v=ux0_NsJzQNg" rel="noopener" target="_blank">
        <button  mat-raised-button>AI Exploration </button>
    </a>
    <a class="target" href="https://github.com/Real-VeerSandhu/Digit-Recognition-Deeplearning" rel="noopener"
        target="_blank">
        <button mat-raised-button>Digit Recognition (DL)</button>
    </a>
    <a class="target" href="https://terra-io.web.app/covid/risk" rel="noopener" target="_blank">
        <button  mat-raised-button>Contact Tracing App</button>
    </a>
    <a class="target" href="https://www.youtube.com/watch?v=bpRUx4ZCdOI" rel="noopener" target="_blank">
        <button class="target" mat-raised-button>Veco Farms</button>
    </a>
    <a class="target" href="https://www.youtube.com/watch?v=4vxH2N2z29c" rel="noopener" target="_blank">
        <button class="target" mat-raised-button>Music (Guitar)</button>
    </a>
</div> 