<app-toolbar></app-toolbar>
<mat-card id="header">
    <mat-card-header id="title">
      <h1 id="title-text">Adventures</h1>
    </mat-card-header>
</mat-card>
<div class="adventure-buttons">    <a href="https://fbla-airline.web.app" rel="noopener" target="_blank">
        <button mat-raised-button>Concept Airline</button>
    </a>
    <a href="https://terra-io.web.app/covid/risk" rel="noopener" target="_blank">
        <button mat-raised-button>Terra</button>
    </a>
    <a href="https://www.youtube.com/watch?v=bpRUx4ZCdOI" rel="noopener" target="_blank">
        <button mat-raised-button>Veco Farms</button>
    </a>
</div>

