<app-toolbar></app-toolbar>
<mat-card id="header">
    <mat-card-header id="title">
      <h1 id="title-text">Tools</h1>
    </mat-card-header>
</mat-card>
<div class="tool-buttons">
    <button class="a-button animate-button" mat-raised-button (click)="goToCircleEquation()">Circle Equation</button>
    <button class="mohrs-button animate-button" mat-raised-button (click)="goToMohrs()">Mohr's Circle</button>
    <button class="b-button animate-button" mat-raised-button (click)="goToPTableTools()">Periodic Table</button>
    <button class="d-button animate-button" mat-raised-button (click)="goToBinaryHexTool()">Binary + Hex</button>
    <button class="e-button animate-button" mat-raised-button (click)="goToTrigTool()">Trigonometry Tools</button>
    <button class="c-button animate-button" mat-raised-button (click)="goToParabolaTool()">Parabola Tool</button>
</div>
  
