.main-container{
    width: 100%;
    /* padding: 10px; */
    padding-top: 50px;
    display: grid;
    justify-items: center;
    gap: 20px;
}

.p-table{
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(18, minmax(30px, 1fr));
    grid-template-rows: repeat(7, 1fr);
    gap: 5px;
}
/* repeat( auto-fit, minmax(250px, 1fr) ); */
.element {
    height: 50px;
    width: 100%;
    /* background-color: lightslategray; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    font-size: 10px;
}

.number {
    grid-column: 1;
    grid-row: 1;
    padding: 2px;
}

.symbol {
    grid-column: 1/-1;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    font-size: 15px;

}
.name {
    grid-column: 1/-1;
    grid-row: 3;
    justify-self: center;
    align-self: center;
}


.heavy-metals {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(18, minmax(30px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.element-button {
    grid-column: 1/-1;
    grid-row: 1/-1
}