<mat-toolbar color="primary" class="navbar">
    <!-- <div>Project <img src="assets/Images/v-logo.png" width="20px" height="20px"></div> -->
    <div><a mat-button (click)="goToHome()">
        <span id='Landing'>Project-Veer</span>
    </a></div>
    <div>
        <a mat-button (click)="goToHome()">
            <span id="Home">Home</span>
        </a>

        <a mat-button (click)="goToTools()">
            <span>Tools</span>
        </a>

        <a mat-button (click)="goToAdventures()">
            <span>Adventures</span>
        </a>
    </div>
</mat-toolbar>