.navbar {
    justify-content: space-between;
    width: 100%;
}


span {
    padding-right: 1rem;
    transition: 100ms;;

}

.r {
    padding-left: 3px;
}

#Landing {
    text-align: center;
    font-size: 19px;
}