.main-container {
    height: 90%;
    width: 100%;
    display: grid;
    align-self: center;
    justify-self: center;
}
.triangle-container {
    margin-top: 100px;
    justify-self: center;
    height: 600px;
    width: 700px;
    border-radius: 20px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.triangle-img {
    grid-column: 1;
    width: 90%;
    padding: 20px;
    justify-self: center;
    align-self: center;
}
.right-inputs {
    grid-column: 2;
    justify-content: center;
    align-self: center;
    justify-items: center;
}
.solve-button {
    grid-column: 2;
    margin: 10px;
}