@import '../node_modules/@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-indigo, 700);
$my-app-accent:  mat-palette($mat-pink, 500);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

// 0024F1