<app-toolbar></app-toolbar>

<div class="main">
  <div style="width: 100%;">
    <img src="/assets/Images/waves_final.svg" alt="Header" width="100%" height="10%" style="object-fit: fill;">
  </div>
  <div class="heading-cont">
    <div class="first">Greetings!</div>
    <div class="second">I'm Veer Sandhu</div>
    <div class="third">A 17 year-old Exploring Technology</div>
  </div>
  <div class="links">
    <button mat-stroked-button (click)="github()">Github</button>
    <button mat-stroked-button (click)="youtube()">Youtube</button>
    <button mat-stroked-button (click)="devpost()">Devpost</button>
    <button mat-stroked-button (click)="linkedin()">Linkedin</button>
    <!-- Place this tag where you want the button to render. -->
  </div>
  <div class="text-cont">
      <h2 class="bio-head">📚 Abstract</h2>
      <p class="bio">Hi there! I'm Veer, an IB student from Brampton, Ontario. I use statistics and computer science to build data-driven technology and innovate our future! I’m experienced in artificial intelligence, machine learning + deep learning, data science, IoT, and app development.</p>   
      <p class="bio">
        You can find me engineering neural networks, optimizing predictive algorithms, and deploying AI on the web. Outside this domain, I'm a leader in tech education & outreach. I currently work with Canada Learning Code, Community AI, Inspirit AI, and Project Tech Conferences.
      </p>
      <p class="bio"> My resume is attached <a href="../../assets/PDFs/VeerSandhu's Resume bigger.pdf" download="Veer Sandhu's Resume.pdf" style="color: #E000FF">here</a> and I can be contacted at: <a href="mailto:sandhu.s.veer@gmail.com" style="color: #0024F1;">sandhu.s.veer@gmail.com.</a></p>
      <h2 class='bio-head'>⚡ Projects</h2>
      <div class="projects">
          <button mat-stroked-button (click)="project(0)">Object Detection</button>
          <button mat-stroked-button (click)="project(1)">Article AI</button>
          <button mat-stroked-button (click)="project(2)">COVID-19 Analysis</button>
          <button mat-stroked-button (click)="project(3)">CIFAR Image Classification</button>
          <button mat-stroked-button (click)="project(4)">Waste Classification</button>
          <button mat-stroked-button (click)="project(5)">Growify Farming</button>
          <button mat-stroked-button (click)="project(6)">CoreX FinTech</button>
          <button mat-stroked-button (click)="project(7)">Spike Sigma</button>
          <button mat-stroked-button (click)="project(9)">Lockester</button>
          <button mat-stroked-button (click)="project(10)">Identity Prediction</button>
          <button mat-stroked-button (click)="project(11)">COVID-19 GEC App</button>
      </div>
      <!-- <h2 style="font-style: bold; font-weight: 300;">Philosophy</h2>
      <p class="bio"></p> -->
      <h2 class='bio-head'>🛠 Tools</h2>
      <p class='bio'>This web app also hosts the interactive academic tools I've built through my IB education. They can be accessed through the menu at the top of the page.</p>
    </div>
</div>














<!-- <div class="main-container">
  <div class="custom-shape-divider-top-1630446096">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="header-section">
    <h1 class="title" style="padding: 4% 0% 0.6% 0%;"><span>Welcome to <span class="project-veer">Project Veer</span></span></h1>
    <div class="subtitle">The ground zero for my personal developments and technologies</div>
  </div>
  <div class="cards-section">
    <mat-card class="me">
      <mat-card-header>
        <div mat-card-avatar class="me-image"></div>
        <mat-card-title>Veer Sandhu</mat-card-title>
        <mat-card-subtitle>Data Scientist | ML Engineer | Web App Developer</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Hi there! My name is Veer Sandhu and welcome to Project-Veer: My personal web application used to display and showcase my work! 
          I currently attend high school in Canada through the IB program and have focused on Math/Engineering. 
          I'm currently exploring Artifical Intelligence, Machine Learning, and Data Analytics through programming competitions and internships. 
          I've attached some useful links below (in case you want to learn more about me) and I hope you enjoy exploring my developments! 
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://github.com/Real-VeerSandhu" rel="noopener" target="_blank" class="e-link">
          <button mat-stroked-button color="secondary">Github</button>
        </a>
        <a href="https://www.linkedin.com/in/veer-sandhu" rel="noopener" target="_blank" class="e-link">
          <button mat-stroked-button color="secondary">Linkedin</button>
        </a>
        <a href="https://www.youtube.com/channel/UCZpL_cCZfkilh7ITC_qUigw" rel="noopener" target="_blank" class="e-link"> 
          <button mat-stroked-button color="secondary">Youtube</button>
        </a>
        <a href="https://devpost.com/Real-VeerSandhu?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav" rel="noopener" target="_blank" class="e-link">
          <button mat-stroked-button color="secondary">DevPost</button>
        </a>
      </mat-card-actions>
    </mat-card>

    
    <mat-card class="me">
      <mat-card-header>
        <div mat-card-avatar class="work-image"></div>
        <mat-card-title>Organization Involvement</mat-card-title>
        <mat-card-subtitle>My Experiences</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li><b>Science For All Audiences:</b> Data Science Intern</li>
          <li><b>Canada Learning Code:</b> Ambassadoor and Mentor</li>
          <li><b>Community AI:</b> Teaching Assistant</li>
          <li><b>Ontario Engineering Society:</b> Content Developer</li>
          <li><b>Project Tech Conferences:</b> Coding Challenge Coordinator</li>
          <li><b>Hack Club:</b> Member</li>
          <li><b>Kaggle:</b> Code and Dataset Contributor</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://www.canadalearningcode.ca/" rel="noopener" target="_blank" class="work-link">
          <button mat-stroked-button color="secondary">CLC</button>
        </a>
        <a href="https://www.thecommunityai.org/" rel="noopener" target="_blank" class="work-link">
          <button mat-stroked-button color="secondary">Community AI</button>
        </a>
        <a href="https://www.projecttechconferences.com/" rel="noopener" target="_blank" class="work-link"> 
          <button mat-stroked-button color="secondary">PTC</button>
        </a>
        <a href="https://www.kaggle.com/" rel="noopener" target="_blank" class="work-link">
          <button mat-stroked-button color="secondary">Kaggle</button>
        </a>
      </mat-card-actions>
    </mat-card>
    <mat-card class="me">
      <mat-card-header>
        <div mat-card-avatar class="nav-image"></div>
        <mat-card-title>Navigation Guide</mat-card-title>
        <mat-card-subtitle>Section Overview (Where to Look)</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li><b>Home:</b> Landing Page. Contains all my information and social links (you're here now)</li>
          <li><b>Tools:</b> Interactive Playground. Contains my custom built education tools that define my academics and educational process</li>
          <li><b>Adventures:</b> Other Explorations. Contains contains my tech projects centered around AI, ML, Data Science, and Programming Competitions</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <a rel="noopener" target="_blank" class="page-link">
          <button mat-stroked-button color="secondary" (click)="goToTools()">Tools</button>
        </a>
        <a rel="noopener" target="_blank" class="page-link">
          <button mat-stroked-button color="secondary" (click)="goToAdventures()">Adventures</button>
        </a>
        <a rel="noopener" target="_blank" class="page-link"> 
          <button mat-stroked-button color="secondary" (click)="goToTable()">Interactive Periodic Table</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div> -->