<app-toolbar></app-toolbar>
<!-- <br>
<h2 class="title">Welcome to Home!</h2>
<br>
<hr> -->
<mat-card id="header">
  <mat-card-header id="title">
    <h1 id="title-text">Welcome to Project Veer</h1>
  </mat-card-header>
</mat-card>
<div class="main-container">
  <div class="test">
    <mat-card class="information-card">
      <mat-card-header class="information-header">
        <div mat-card style="padding-left: 18px;">Definition</div>
      </mat-card-header>
      <img src="../../assets/Images/project-veer-definition-google.PNG" width="100%">
      <mat-card-content>
        <p>
          <button mat-stroked-button color="secondary" class="button-link" (click)="goToTools()">V-Tools</button>
          <button mat-stroked-button color="secondary" class="button-link"
            (click)="goToAdventures()">Adventures</button>
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="veer-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Developer</mat-card-title>
      <mat-card-subtitle>Veer Sandhu</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
      src="../../assets/Images/developer-guide-blog-real.png">
    <mat-card-content>
      <p>
        Hi there! My name is Veer Sandhu and welcome to Project-Veer, my very own web application (built using Angular, Material Design, and Firebase). 
        I currently attend high school in Canada through the International Baccalaureate program and have a strong drive to succeed in STEM subjects. 
        I am also exploring Artificial Intelligence through deep learning with python and have built a multitude of applications (displayed on my Github). 
        Anyways, I hope you enjoy exploring my developments.
      </p>
      <a href="https://devpost.com/software/growify" rel="noopener" target="_blank">
        <button mat-stroked-button color="secondary" class="button-link">Jam Hacks V (DevPost)</button>
      </a>
      <a href="https://github.com/Real-VeerSandhu" rel="noopener" target="_blank">
        <button mat-stroked-button color="secondary" class="button-link">Github</button>
      </a>
      <a href="https://www.linkedin.com/in/veer-sandhu" rel="noopener" target="_blank">
        <button mat-stroked-button color="secondary" class="button-link">Linkedin</button>
      </a>
      <a href="https://www.youtube.com/channel/UCZpL_cCZfkilh7ITC_qUigw" rel="noopener" target="_blank">
        <button mat-stroked-button color="secondary" class="button-link">Youtube</button>
      </a>
    </mat-card-content>
  </mat-card>
</div>


<!-- https://cdn.britannica.com/18/197118-131-00A7D6AF/Computer-Code-Binary-Internet-Password-Data-Technology.jpg -->