@keyframes slidein1 {
  0% {
    margin-left: 100%;
    width: 300%;
  }

  100% {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes move1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
  
}

.main {
  width: 100%;
  /* background-color: #0E1117;
  color: white; */
}

.heading-cont {
  padding-top: 1.5%;
  align-items: center;
  justify-items: center;
  width: 100%;
  /* border-bottom: 0.1vh solid black; */
  padding-bottom: 1.5%;
}

.links {
  display: flex; 
  flex-direction: row; 
  width: 100%; 
  align-content: center; 
  justify-content: center; 
  padding-bottom: 2.5vh;
  animation-duration: 2.5s;
  animation-name: move1;
  animation-iteration-count: 1;
  border-bottom: 0.1vh solid #000000;
}

.links button {
  border-style: none;
  font-size: 1vw;
  margin-left: 3%;
  text-decoration: underline;
  text-decoration-color: #0024F1;
}

.first {
  font-style: italic;
  text-align: center;
  font-weight: 100;
  font-size: 2vw;
  animation-duration: 1.0s;
  animation-name: slidein1;
  animation-iteration-count: 1;
}

.second {
  text-align: center;
  font-weight: 400;
  font-size: 4vw;
  animation-duration: 2.5s;
  animation-name: slidein1;
  animation-iteration-count: 1;
}

.third {
  text-align: center;
  font-weight: 80;
  font-size: 3vw;
  animation-duration: 2.5s;
  animation-name: slidein1;
  animation-iteration-count: 1;
}

.text-cont {
  justify-self: center;
  align-self: center;
  text-align: center;
  width: 100%;
  font-size: 1.5vw;

  animation-duration: 2.5s;
  animation-name: move1;
  animation-iteration-count: 1;
  padding-bottom: 5%;
}

.bio {
  align-self: left;
  justify-self: left;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  transition: opacity 4050ms ease-in;
  font-weight: 200;
}

.bio-head {
  font-weight: 400;
}

.projects {
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
}

.projects button {
  align-self: center;
  margin: 1%;
  font-size: 2vw;
  font-weight: 50;
  padding: 1%;
  width: 30%;
  height: 89%;
  transition: 140ms;
}

.projects button:hover {
  transform: scale(1.1);
  transition: transform 80ms;
}

.bio.appear {
  background-color: turquoise;
}

@media only screen and (max-width: 700px) {
  body {
     margin: 0;
     padding: 0;
  }
  .sample {
     width: 100%;
  }
  /* .first {
    font-style: italic;
    text-align: center;
    font-weight: 100;
    font-size: 5vw;
    animation-duration: 1.0s;
    animation-name: slidein1, move;
    animation-iteration-count: 1;
  }
  
  .second {
    text-align: center;
    font-weight: 500;
    font-size: 7vw;
    animation-duration: 2.5s;
    animation-name: slidein1;
    animation-iteration-count: 1;
  }
  
  .third {
    text-align: center;
    font-weight: 500;
    font-size: 4.5vw;
    font-family: sans-serif;
    opacity: unset;
    animation-duration: 3.5s;
    animation-name: slidein1;
    animation-iteration-count: 1;
  } */
  .first {
    font-style: italic;
    text-align: center;
    font-weight: 100;
    font-size: 5vw;
    animation-duration: 1.0s;
    animation-name: slidein1;
    animation-iteration-count: 1;
  }
  
  .second {
    text-align: center;
    font-weight: 400;
    font-size: 7vw;
    animation-duration: 2.5s;
    animation-name: slidein1;
    animation-iteration-count: 1;
  }
  
  .third {
    text-align: center;
    font-weight: 80;
    font-size: 4.5vw;
    animation-duration: 2.5s;
    animation-name: slidein1;
    animation-iteration-count: 1;
  }

  .bio {
    align-self: center;
    justify-self: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    transition: opacity 4050ms ease-in;
  }
  
  .text-cont {
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 100%;
    font-size: 3vw;
    animation-duration: 3s;
    animation-name: move1;
    animation-iteration-count: 1;
  }
  .links button {
    border-style: none;
    font-size: 3vw;
    margin-left: 3%;
    padding-bottom: 0%;
    text-decoration: underline;
    
  }
  .projects button {
    align-self: center;
    margin: 1%;
    font-size: 3vw;
    width: 50%;
    height: 89%;
  }
  .projects button:hover {
    transform: scale(1);
    transition: 1ms;
  }
}