.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-rows: 800px;
}

.card-container {
    grid-column: 2;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.card {
    padding: 10px;
    padding-top: 10px;
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.header {
    align-content: center;
    justify-content: center;
}

.inputs {
    display: grid;
    height: 500px;
    grid-template-columns: 1;
    grid-template-rows: 1fr 1fr 1fr;
}

.binary-input-container {
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.hex-input-container {
    grid-row: 2;
    align-self: center;
    justify-self: center;
}

.decimal-input-container {
    grid-row: 3;
    align-self: center;
    justify-self: center;
}